:root {
  --text-color: #FFFFFF;
  --blue-color: #2C92E6;
  --btn-color: rgba(44,146,230,0.75);
  --shadow-hover: 0 .5rem 1.4rem 0 rgba(0,0,0,0.2);
  --header-footer-color: #19C39F;
  --line-height: 1.5;
  --border-radius: 1.4rem;
  --border-error: 1px solid #FF0000;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

html {
  font-size: .87rem;
  color: #333;
}

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: var(--line-height);
}

ul {
  list-style: none;
}

.header,
.main,
.footer {
  margin: 0;
}

.container {
  width: 100%;
}

.header {
  height: var(--header-footer-height);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 2.8rem;
  background-color: var(--header-footer-color);
}

.header__logo {
  margin: 0 auto;
}

.logo {
  width: 75%;
  height: 3.2rem;
  margin-top: .14rem;
}

.header__authorization {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 150px;
}

.name-authorization {
  font-style: normal;
  font-weight: bold;
  font-size: 1.14rem;
}

.empty-result {
  display: none;
}

.error-message,
.error-not-match,
.error-empty,
.error-login,
.empty-result {
  display: none;
  color: #FF0000;
}

.btn {
  padding: 0 1rem;
  width: auto;
  background-color: var(--btn-color);
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
  color: var(--text-color); 
  font-size: 1.07rem;
  font-weight: bold;
  line-height: var(--line-height);
  box-shadow: 0 .28rem .57rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}

.main .container{
  display: flex;
  justify-content: center;
  padding: .71rem 2.8rem;
}

.section-top {
  display: none;
}

.btn-icon-users, 
.btn-icon-filter {
  display: none;
  position: absolute;
  top: 7.5%;
  width: 35px;
  height: 30px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.btn-icon-users {
  left: 5%;
}

.btn-icon-filter {
  right: 5%;
}

.btn-icon-users .iconify,
.btn-icon-filter .iconify {
  color: #000000;
}

.section-left {
  width: 100%;
  max-width: 339px;
}

.btn-filter {
  height: 1.7rem;
  border: .07rem solid var(--blue-color);
  border-radius: var(--border-radius);
  margin: .2rem .14rem;
}

.main__filter {
  display: flex;
  flex-wrap: wrap;
}

.main__filter label{
  margin-right: .2rem;
  font-weight: normal;
  font-size: 1.14rem;
  line-height: 1.4;
}

.main__filter-name {
  width: 31%;
}

.main__filter-text {
  width: 38%;
}

.main__filter-date {
  margin-right: .3rem;
  width: 41%;
}

.main__filter button {
  margin-left: .35rem;
}

.main__filter input[placeholder],
.main__filter input[type="date"] {
  padding: .35rem;
}

.main__filter input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0.5;
}

.main__filter input[type="date"] {
  color: #8A8181;
}

.users-list__content {
  padding: 0 .7rem .37rem .7rem;
}

.messages-block {
  padding: 0 1rem;
  overflow-y: auto;
  width: 100%;
  max-width: 35rem;;
  height: 43rem;
}

.message__container {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin: 0;
  box-shadow: 0 .28rem .57rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #89EFBF;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.message-chat .user-message {
  border: 2px solid #89efbf;
  background-color: white;
}

.message-chat .user-message:first-of-type {
  background-color: var(--btn-color);
}

.user-chat__info {
  justify-content: flex-end;  
}

.message__container:hover {
  box-shadow: var(--shadow-hover);
}

.users-list__name {
  text-align: center;
  padding-top: .57rem;
}

.users-list__main {
  display: block;
  height: 91%;
  background: rgba(196, 196, 196, 0.4);
}

.user-info {
  display: flex;
  padding: .5rem;
}

.circle {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.user-name {
  padding: .35rem 1.07rem 0 .7rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.28rem;
  line-height: 1.3;
  cursor: pointer;
}

.user-name:hover {
  border-bottom: .07rem solid var(--btn-color);
}

.user-status {
  font-style: normal;
  font-weight: 500;
}

.messages-container {
  padding: 0 3.6rem;
  display: flex;
  flex-direction: column;
}

.btn-load-messages {
  align-self: center;
}

.message-chat__info {
  display: flex;
  padding: .1rem 0;
}

.message__name {
  font-style: normal;
  font-weight: bold;
  font-size: 1.14rem;
}

.message__time { 
  margin: 0 0.3rem;
}

.message__time,
.message__date {
  padding-top: .14rem;
  line-height: 1.8;
  font-size: .85rem;
}

.message__content {
  display: flex;
}

.user-message__change {
  display: flex;
  justify-content: flex-end;
} 

.btn-edit,
.btn-delete {
  border: 0;
  background-color: transparent;
}

.icon-edit,
.icon-delete {
  color: var(--btn-color);
}

.icon-edit:hover,
.icon-delete:hover,
.btn-icon-users:hover,
.btn-icon-filter:hover {
  transform: scale(1.1);
}

.message-send {
  position: relative;
  padding-top: 0.8rem;
}

.message-send__input {
  width: 100%;
  border: .07rem solid var(--blue-color);
  box-sizing: border-box;
  border-radius: .7rem;
}

.message-send__icon:hover {
  transform: scale(1.1);
}

.message__input {
  font-size: 0.8rem;
  padding: .5rem;
  width: 45%;
}

.message-send textarea[placeholder] {
  padding-top: .5rem;
  padding-left: .5rem;
}

.message-send__icon {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: 0;
}

.iconify {
  width: 2.2rem;
  height: 2.6rem;
  color: var(--blue-color);
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--header-footer-height);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 2.8rem;
  background-color: var(--header-footer-color);
  color: var(--text-color);
}

.footer__logo,
.footer__email {
  margin-top: .7rem;
}

.messages-block::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
}

.messages-block::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}

.messages-block::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}

.messages-block::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 2.1rem;
}

@media screen and (max-width: 1024px) {
  
  .user-message__change {
    width: 5rem;
  }
}

@media screen and (max-width: 980px) {

  .messages-container {
    padding: 0 1.4rem;
  }

  .main__filter-name {
    width: 29%;
  }

  .main__filter input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0.5;
  }
}

@media screen and (max-width: 767px) {

  .header__logo {
    margin: 0;
  }

  .main .container {
    padding: .71rem 1.07rem;
  }

  .btn {
    font-size: 1rem;
  }
  
  .section-top {
    display: flex;
    justify-content: space-between;
    padding: 0 2.8rem;
    height: 3.2rem;
    background: #89EFBF;
    box-shadow: 0 .28rem .28rem rgba(0, 0, 0, 0.25);
  }

  .btn-icon-users,
  .btn-icon-filter {
    display: block;
  }

  .section-left {
    display: none;
  }

  .users-list__main {
    display: none;
  }

  .message-send__icon {
    bottom: 11%;
  }

  .message-send input[placeholder] {
    padding: 1rem;
  }

  .messages-block {
    height: 38rem;
  }

  .footer__inner {
    display: block;
  }

  .footer__logo {
    position: absolute;
    left: 75%;
  }

  .footer__logo,
  .footer__email {
    margin-top: 0;
  }
}

/*Sign Up*/

.back-container {
  margin: 2rem;
}

.registration-container,
.authorization-container {
  display: none;
}

.registration-form-block,
.authorization-form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #89EFBF;
  border-radius: 2rem;
  max-width: 28rem;
  margin: 10rem auto;
  padding: 3rem 0;
}

.registration-form,
.authorization-form {
  display: flex;
  flex-direction: column;
  width: 17rem;
}

.form-label {
  margin: 0;
  color: var(--text-color);
  font-size: 2rem;
}

.registration-input,
.authorization-input {
  background-color: var(--text-color);
  padding: 1rem;
  margin-top: .6rem;
  border-radius: 2rem;
  border: none;
}

.registration-button,
.authorization-button {
  padding: .5rem 0;
  margin-top: 1.5rem;
}

.link {
  color: var(--blue-color);
  cursor: pointer;
}

.account-available {
  margin-top: .4rem;
  text-align: center;
}